:root {
  --body-font: "Inter", sans-serif;
  --site-font-color: #ffc86b;
  --site-theme-background: #191c1c;
  /* --site-container-background: #222525; */
  --site-container-background: #191919;
  --site-border: #2a2e2e;
  --body-color: #8B9F9F;
  --them-green: #56B887;

}

html, body {
  scroll-behavior: smooth;
  font-family: var(--body-font) !important;
  font-size: 16px;
  font-weight: 400;
  color: var(--body-color);
  line-height: 26px;
  overflow-y: auto;
}

.custom__color {
  color: var(--body-color);
}

.custom__w {
  width: 35%;
}

.site__black {
  background: var(--site-theme-background);
}

.offcanva-bg {
  background: var(--site-theme-background);
}

.skill-box {
  border-radius: 10px;
  border: 2px solid var(--site-border);
}

.skill-box:hover {
  border: 2px solid var(--them-green) !important;
  transition: border-color 1s ease;
}


.skill-box:hover .project-name {
  color: var(--them-green) !important;
  transition: color 1s ease;
}


.content__box {
  background: var(--site-container-background);
  border-radius: 10px;
  border: 2px solid var(--site-border);
}

.profile-container {
  background:#0d0d0d;
  box-shadow: white 0px 0px 100px 0em inset;
}

.site-green-color {
  color: var(--them-green)
}

.w-65 {
  width: 64px !important;
}

.site-author-name {
  font-weight: 700;
}

.download__btn {
  border: 2px solid var(--site-border);
  color: var(--body-color);
}

.download__btn:hover {
  background: var(--them-green) !important;
  color: white;
}

.site-auther-description {
  font-size: 24px;
  line-height: 34px;  
}

.side-tabs > .active {
  color: var(--them-green) !important;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.custom__html {
  --bs-tooltip-bg: #ff4b00;
  --bs-tooltip-color: white;
}

.custom__css {
  --bs-tooltip-bg: #1572b6;
  --bs-tooltip-color: white;
}

.custom__js {
  --bs-tooltip-bg:#ffdf00;
  --bs-tooltip-color: black;
}

.custom__php {
  --bs-tooltip-bg:#777bb3;
  --bs-tooltip-color: black;
}

.custom__laravel {
  --bs-tooltip-bg: #ff2d20;
  --bs-tooltip-color: white;
}

.custom__vue {
  --bs-tooltip-bg: #41b883;
  --bs-tooltip-color: white;
}

.custom__react {
  --bs-tooltip-bg: #00d8ff;
  --bs-tooltip-color: white;
}


.custom__node {
  --bs-tooltip-bg: #83cd29;
  --bs-tooltip-color: white;
}

.custom__mysql {
  --bs-tooltip-bg: #036087;
  --bs-tooltip-color: white;
}

.custom__git {
  --bs-tooltip-bg: #dd4c35;
  --bs-tooltip-color: white;
}

.custom__rest {
  --bs-tooltip-bg: #fbc02d;
  --bs-tooltip-color: white;
}

.custom-nav-tooltip {
  --bs-tooltip-bg: var(--them-green);
  --bs-tooltip-color: white;
}

.firts__line__heigth {
  width: 60px;
  height: 235px;
}

.second__line__heigth {
  width: 60px;
  height: 220px;
}

.firts__line__heigth__education {
  width: 60px;
  height: 140px;
}

.second__line__heigth_eductation {
  width: 60px;
  height: 130px;
}

.dot-shadow {
  filter: drop-shadow(0px 0px 10px var(--them-green));
}

.sider-button {
  position: fixed;
  top: 8px;
  right: 8px;
}

.default-heigth-contant {
  height: 723px;
}

.unique-icon {
  position: relative;
  top: 305px;
}


@media only screen and (max-width: 1000px) {
  .profile-image {
    height: 215px;
  }

  .hide-nav {
    display: none;
  }

  .mobile-adjust {
    position: relative;
    right: 20px;
  }

  .firts__line__heigth {
    position: relative;
    right: 10px;
    height: 485px;
  }

  .second__line__heigth {
    position: relative;
    right: 10px;
    height: 510px;
  }

  .firts__line__heigth__education {
    position: relative;
    right: 10px;
    height: 220px;
  }

  .second__line__heigth_eductation {
    position: relative;
    right: 10px;
    height: 255px;
  }

  .default-heigth-contant {
    height: auto;
  }

  .unique-icon-mobile {
    position: fixed;
    bottom: 15px;
  }

  .custom__w {
    width: 100%;
  }
}























